<script src="~/js/jquery.min.js"></script>
<script src="~/js/datatables/datatables.min.js"></script>
<script src="~/js/vue.js"></script>
@model List<myweb.Controllers.demo>
<div id="demo">
    <table id="table" class="table table-bordered"></table>
</div>  
<Script>
    new Vue({
        el: '#demo',
        mounted: function () {
            //$(document).ready(function () {
            $('#table').DataTable({
                columns: [
                    { "data": 'name' ,"title":"姓名"},
                    { "data": 'salary', "title": "薪资" },
                ], data: @Model

            });
            //});
        }
    });

</Script>